{% extends '__init__.html' %}
{% load unicorn %}


{% block base %}
<!-- Left Sidebar -->
<!-- Dark sidebar with navigation items, each with icon and label -->
{% unicorn 'nav' %}

<!-- Main Content Area -->
<div class="flex-1 grid items-start content-start overflow-y-auto p-3 bg-base-300 text-base-content rounded-lg">
    <div class="flex justify-between items-center mb-3">
        <h1 class="text-xl font-semibold">{{ title }}</h1>

        <!-- Header Actions -->
        <div class="flex space-x-2">
            <!-- Email Button -->
            <!-- <button class="p-2 rounded-full bg-gray-100 hover:bg-gray-200 transition">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                </svg>
            </button> -->

            <!-- Search Button -->
            <!-- <button class="p-2 rounded-full bg-gray-100 hover:bg-gray-200 transition">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
            </button> -->

            <!-- User Profile -->
            <div class="flex items-center space-x-2">
                <!-- change popover-user-top and --anchor-user-top names. Use unique names for each dropdown -->
                <button class="avatar avatar-placeholder cursor-pointer" popovertarget="popover-user-top" style="anchor-name:--anchor-user-top">
                    <div class="bg-primary text-primary-content w-8 rounded-full">
                        <span class="text-xs">UI</span>
                    </div>
                </button>
                <ul class="dropdown dropdown-end menu w-52 rounded-box bg-base-100 shadow-sm" popover id="popover-user-top"
                    style="position-anchor:--anchor-user-top">
                    <li><a>{{ request.user.get_full_name }}</a></li>
                    <li><a>{{ request.user.email }}</a></li>
                    <li><a>Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    {{ slot }}
</div>
{% endblock %}