{% load unicorn static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBF Auto Shop</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.webp' %}" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    {% unicorn_scripts %}

    <link rel="stylesheet" href="{% static 'compiled/index.css' %}">

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Check if this cookie string begins with the name we want
                    if (cookie.substring(0, name.length + 1) === (name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            console.log(cookieValue)
            return cookieValue;
        }
    </script>

    
</head>

<body class="">
    <div class="flex bg-neutral text-neutral-content gap-x-3 h-screen p-2 overflow-y-auto">
        {% block base %}{% endblock %}
    </div>
    {% csrf_token %}
    
    <script src="{% static 'compiled/index.js' %}" defer></script>
</body>

</html>