{% load unicorn static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProfitPulse Dashboard</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    {% unicorn_scripts %}
    
    <link rel="stylesheet" href="{% static 'compiled/index.css' %}">
</head>

<body class="">
    <div class="flex bg-neutral text-neutral-content gap-x-3 h-screen p-2 overflow-y-auto">
        {% block base %}{% endblock %}
    </div>
    {% csrf_token %}
    <script src="{% static 'compiled/index.js' %}"></script>
</body>

</html>