{% load widget_tweaks %}

<c-layout title="Parts Create">
    <div class="items-center flex flex-wrap justify-between mb-3">
        <div class="breadcrumbs text-sm">
            <ul>
              <li><a>Inventory</a></li>
              <li><a href="{% url 'parts:list' %}">Parts</a></li>
              <li><a>Add New</a></li>
            </ul>
          </div>
        <ul class="menu menu-vertical lg:menu-horizontal bg-base-100 rounded-box">
            <li>
                <a>Add Category</a>
            </li>
        </ul>
    </div>
    <div class="grid">
        <form action="" method="post" class="grid sm:grid-cols-2 gap-y-2 gap-x-4 max-w-xl mx-auto">
            {% csrf_token %}
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Name *</legend>
                {{ form.name|add_class:"input w-full" }}
                <p class="fieldset-label">{{ form.name.help_text }}</p>
                <ul class="errors grid">
                    {% for error in form.name.errors %}
                    <li class="text-error">{{ error }}</li>
                    {% endfor %}
                </ul>
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Type *</legend>
                {{ form.type|add_class:"select w-full" }}
                <p class="fieldset-label">{{ form.type.help_text }}</p>
                <ul class="errors grid">
                    {% for error in form.type.errors %}
                    <li class="text-error">{{ error }}</li>
                    {% endfor %}
                </ul>
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Part Number *</legend>
                {{ form.part_number|add_class:"input w-full" }}
                <p class="fieldset-label">{{ form.part_number.help_text }}</p>
                <ul class="errors grid">
                    {% for error in form.part_number.errors %}
                    <li class="text-error">{{ error }}</li>
                    {% endfor %}
                </ul>
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Selling Price *</legend>
                {{ form.selling_price|add_class:"input w-full" }}
                <p class="fieldset-label">{{ form.selling_price.help_text }}</p>
                <ul class="errors grid">
                    {% for error in form.selling_price.errors %}
                    <li class="text-error">{{ error }}</li>
                    {% endfor %}
                </ul>
            </fieldset>
            <fieldset class="fieldset sm:col-span-2">
                <legend class="fieldset-legend">Description</legend>
                {{ form.description|add_class:"textarea w-full" }}
                <p class="fieldset-label">{{ form.description.help_text }}</p>
                <ul class="errors grid">
                    {% for error in form.description.errors %}
                    <li class="text-error">{{ error }}</li>
                    {% endfor %}
                </ul>
            </fieldset>
            <div class="sm:col-span-2 grid">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</c-layout>