{% load widget_tweaks %}

<c-layout title="Sale create">
    <c-slot name="scripts">
        <script>
            const saleDATA = {
                parts: [],
                added_parts: [],
                add_mode: false,
                sale: {
                    date: '',
                    payment_date: '',
                    items: [],
                },
                async fetchParts(){
                    const request = await fetch("{% url 'api:get_all_parts' %}")
                    const response = await request.json()
                    this.parts = response
                },
                addItem(part){
                    if (this.added_parts.includes(part)){
                        return
                    }

                    let item = {
                        part: part,
                        quantity: 1
                    }

                    this.sale.items.push(item)
                    this.added_parts.push(part)
                },
                removeItem(item){
                    this.added_parts = this.added_parts.filter((value) => {
                        value != item.part
                    })
                    this.sale.items = this.sale.items.filter((value) => {
                        value != item
                    })
                },
                init(){
                    this.fetchParts()
                }
            }
        </script>
    </c-slot>
    <div class="items-center flex flex-wrap justify-between mb-3">
        <div class="breadcrumbs text-sm">
            <ul>
                <li><a href="{% url 'sales:list' %}">Sales</a></li>
                <li><a>Create a sale</a></li>
            </ul>
        </div>
        <ul class="menu menu-horizontal bg-base-100 rounded-box">
            <!-- <li>
                <a href="{% url 'sales:create' %}">Add a Sale</a>
            </li> -->
        </ul>
    </div>
    <section x-data="saleDATA">
        <div class="relative">
            <div class="items grid p-4 bg-neutral rounded-t-4xl fixed bottom-0 left-2 right-2 transition-all" :class="add_mode ? 'top-16' : 'top-full'">
                <div class="grid pt-4 relative">
                    <ul class="list">
                        <li class="list-row sticky top-0">
                            <input type="text" class="list-col-grow rounded-full px-4 py-2 bg-neutral border-2 border-base-300/50 placeholder:text-base-300/60" placeholder="Search here">
                        </li>
                        <template x-for="part in parts">
                            <li x-show="!added_parts.includes(part)" class="list-row text-base-200 bg-base-content my-1">
                                <div class="list-col-grow">
                                    <div x-text="part.name"></div>
                                    <span x-text="part.type.name" class="font-semibold opacity-60 text-xs"></span>
                                    <div x-text="part.part_number" class="font-semibold opacity-80"></div>
                                    <div x-text="part.selling_price.toLocaleString('en-US')"></div>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-ghost" @click="addItem(part)">
                                        <svg class="size-[1.2em] -rotate-90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"
                                                stroke="currentColor">
                                                <path d="M6 3L20 12 6 21 6 3z"></path>
                                            </g>
                                        </svg>
                                    </button>
                                </div>
                            </li>
                        </template>
                    </ul>
                    <button type="button" class="h-12 w-12 rounded-box grid place-content-center text-error bg-error/10 absolute bottom-4 left-0" @click="add_mode = false">
                        <span class="rotate-45 scale-150">&plus;</span>
                    </button>
                </div>
            </div>
            <form method="post @container/saleform">
                {% csrf_token %}

                <div class="grid items">
                    <ul class="list bg-base-100 rounded-box shadow-md">
                        <li class="list-row text-xs opacity-60 mb-2">Parts in Sale</li>
                        <template x-for="item in sale.items">
                            <li class="list-row">
                                <div class="list-col-grow">
                                    <div x-text="item.part.name"></div>
                                    <!-- <span x-text="item.part.type.name" class="font-semibold opacity-60 text-xs"></span> -->
                                    <div x-text="item.part.part_number" class="font-semibold opacity-80"></div>
                                </div>
                                <div>
                                    <div x-text="`x${item.quantity}`"></div>
                                    <div x-text="item.part.selling_price*item.quantity"></div>
                                    <div class="flex flex-row-reverse gap-2">
                                        <button type="button" class="h-8 w-8 rounded-box grid place-content-center text-neutral bg-neutral/10" @click="item.quantity++">
                                            <span class="scale-150">&plus;</span>
                                        </button>
                                        <button type="button" class="h-8 w-8 rounded-box grid place-content-center text-neutral bg-neutral/10" @click="item.quantity--">
                                            <span class="scale-150">&minus;</span>
                                        </button>
                                        <button type="button" class="h-8 w-8 rounded-box grid place-content-center text-error bg-error/10" @click="removeItem(item)">
                                            <span class="rotate-45 scale-150">&plus;</span>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </template>
                        <li class="p-4 mt-2">
                            <button type="button" class="w-full btn btn-ghost" @click="add_mode = true">
                                Add Item
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>

            </form>
        </div>
    </section>

    <script>
        new TomSelect("select.tom-select", {
            create: false,
            sortField: {
                field: "text",
                direction: "asc"
            }
        });
    </script>
</c-layout>